---
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faLinkedin, faGithub } from "@fortawesome/free-brands-svg-icons";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Fawaz Shah";
const description = "Fawaz's personal site";
const permalink = Astro.site.href;

library.add(faLinkedin, faGithub);
const linkedinIcon = icon({ prefix: "fab", iconName: faLinkedin.iconName });
const githubIcon = icon({ prefix: "fab", iconName: faGithub.iconName });
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Hi, I'm Fawaz.</h1>
      <p>I'm a software engineer from London 🇬🇧🎡💂</p>
      <div class="fa-row">
        <div class="fa-icon">
          <a href="https://www.linkedin.com/in/fawaz-shah/" target="_blank">
            <Fragment set:html={linkedinIcon.html}/>
          </a>
        </div>
        <div class="fa-icon">
          <a href="https://github.com/fawazshah/" target="_blank">
            <Fragment set:html={githubIcon.html}/>
          </a>
        </div>
      </div>
    </div>

    <div class="hero-image-container">
      <picture>
        <source
          srcset="/assets/homepage-photo.jpg"
          media="(min-width: 600px)"
        />
        <img
          class="hero-image"
          alt="Illustration of person reading a book"
          src="/assets/homepage-photo.jpg"
          width="550"
          height="466"
        />
      </picture>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image {
    border-radius: 8em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  .fa-row {
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding-left: 10em;
  }

  .fa-icon {
    width: 3em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
    .fa-row {
      padding-left: 0;
      justify-content: center;
    }
  }

</style>
